<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Capstone Project - Blog Web Application</title>
  </head>

  <body>
    <main>
      <div class="container" id="header">
        <h2 id="title">Kitty adventures</h2>
      </div>
    </main>
  </body>
</html>
